openai==0.28
langdetect==1.0.9
pyngrok==7.1.2
fastapi==0.109.2
uvicorn==0.27.1
tld==0.13
openpyxl==3.1.2
nest-asyncio==1.6.0
pydantic-settings==2.2.1
pydantic==2.6.4
python-multipart==0.0.6
transformers==4.40.1
tensorflow==2.16.1
joblib==1.4.0
pandas==2.2.2